wwwroot/
obj/
bin/
Properties/
*.sln

# IDE-пов'язані файли
.vscode/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Папка збірки
bin/
obj/

# Папка налаштувань конфігурації
*.DotSettings

# Пакети NuGet
*.nupkg
# Папка для кешування
packages/
# Якщо використовуєте .NET Core, ці папки також не потрібні
project.lock.json
project.fragment.lock.json
artifacts/

# Папка для залежностей NPM
node_modules/
npm-debug.log
yarn-error.log

# Кеши Visual Studio
_Resharper*/
*.rsuser
resharper.xml
_ReSharper.Caches/
**/*.cache
# Винятки для спеціальних розширень
*.cache

# Сертифікати HTTPS
*.pfx
*.p12

# Логи
*.log

# Тимчасові файли
*.tmp
*.temp